__pycache__/
*.py[cod]
*$py.class

.cache/
.env
.venv/
env/
venv/

*.egg-info/
build/
dist/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store

data/
work_dirs/
artifacts/
wandb/

*.log
*.out
*.pkl
*.pth
*.ckpt*
